<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseUrls</key>
	<dict>
		<key>upm</key>
		<string>https://upm.yookos.com</string>
		<key>countryUrls</key>
		<string>https://countryservice.yookos.com/api/v1/countryservice/</string>
		<key>uas</key>
		<string>https://uas.yookos.com</string>
		<key>socialgraph</key>
		<string>https://socialgraph.yookos.com</string>
	</dict>
</dict>
</plist>
